/* Esto asegura que el fondo ocupe toda la pantalla */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background-image: url('/imagenes/inicio.png'); 
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
